@import "tailwindcss";

*{
    list-style: none;
    box-sizing: border-box;
}

.active{
    background-color: rgba(159, 162, 180, 0.08);
    border-color: #DDE2FF;
    color: #DDE2FF;
}

.table-item:last-child{
    border: none;
}
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 3px grey; 
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(165, 163, 163); 
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(165, 163, 163, 0.8);
    transition: all 0.3s linear;
    cursor: grab;
}